.nav-wrap
  max-width: 1024px
  margin: 0 auto
  border-bottom: 1px solid aqua
  padding: 50px 0
  &>ul
    &:before, &:after
      content: " "
      display: table
    &:after
      clear: both
  &.second
    max-width: 586px
.main-nav-bar
  padding: 0
  margin: 0
  li
    font-family: sans-serif
    list-style: none
    position: relative
    white-space: nowrap
    ul
      padding: 0
      margin: 0
      position: absolute
      top: 100%
      right: 0
      ul
        top: 0
        left: 100%
    //&:hover > ul

  &>li
    display: inline-block
    float: left
    font-size: 18px