.nav-wrap
  margin: 0 auto 20px
  padding: 50px 0
  &>ul
    padding: 50px 10px
    &:before, &:after
      content: " "
      display: table
    &:after
      clear: both
  &.second
    max-width: 586px
.main-nav-bar
  padding: 0
  margin: 0
  li
    font-family: sans-serif
    list-style: none
    position: relative
    white-space: nowrap
    ul
      padding: 0
      margin: 0
      position: absolute
      top: 100%
      right: auto
      left: -9999em
      opacity: 0
      transition: opacity .65s
      ul
        top: 0
        left: 100%
    &:hover > ul
      opacity: 1
      left: 0
    &.sub-nav
      cursor: pointer
  &>li
    float: left
    font-size: 12px
    margin-right: 10px
    a
      padding: 3px 5px
    &:last-child
      margin-right: 0
.hamburger-control
  border: 1px solid #000
  width: 60px
  height: 60px
  border-radius: 10px
  position: relative
  z-index: 1
  cursor: pointer
  span
    $height: 5px
    display: block
    height: $height
    position: absolute
    z-index: 1
    left: 10px
    right: 10px
    top: 50%
    margin-top: $height / -2
    background-color: #000
    &:first-child
      top: 10px
      margin-top: 0
    &:last-child
      top: auto
      bottom: 10px
      margin-top: 0